@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+AU+VIC:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    max-width: 1000px;
}

:root {
    --primary-color: #005F73;
    --secondary-color: #E9D8A6;
    --accent1-color: #BB3E03;
    --accent2-color: #AE2012;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Oswald', serif;
    --callout-font: 'Playwrite+AU+Vic', serif;
  
    --nav-background-color: #FFFFFF;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #FFFFFF;
  }
  header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
  }

  header img{
    grid-column: 1/3;
    height: auto;
  }

  nav {
    grid-column: 3/5;
    text-align: right;
    display: flex;
  }

  nav a {
    flex: 1 1 100%;
    text-decoration: none;
    border: 1px solid grey;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #005F73;
    color: #E9D8A6;
  }

  h1 {
    font-family: var(--heading-font);
    color: black;
    text-align: center;
  }

  p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    margin: 0;
    padding: 0;
  }

  footer a {
    text-decoration: none;
  }

  .hero {
    position: relative;
    height: 250px;
    background-image: url(../images/rafting_hero.jpg);
    background-position: center;
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero article {
    position: absolute;
    top: 5rem;
    left: 20px;
    right: 20px;
    height: 150px;
    border: 1px solid black;
    background-color: rgba(0, 95, 115, .5)
    
  }
  .hero article img {
    float: right;
    width: auto;
    height: 150px;
  }

  .history h2{
    flex: 0 0 100%;
    text-align: center;
}

.history_body {
  display: flex;
  flex-direction: row;
}
.history_body p {
  flex-grow: 1;
  color: #005F73;
  padding: 5px;
}

.history_body img{
  width: 30%;
  height: auto;
  flex-grow: 2;
}

.history {
  display: flex;
  flex-wrap: wrap;
}
.Adventure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Adventure h2 {
  position: relative;
}

.Adventure figure {
  width: 30%;
  flex-grow: 1;
}
.Adventure figure img {
  width: 100%;
  height: auto;
}

.info{
  display: flex;
}

.contact-info{
  align-self: center;
}

.map {
  float: right;
}

.employees{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.employee-card{
  width: 20%;
}

.employee-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 1%;
  background-color: #f2ebdf;
  display: grid;
  position: relative;
}

textarea {
  height: 200px;
  overflow: auto;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-radio {
  font-size: 1.2rem;
  font-weight: bold;
  grid-template-columns: 1em auto;
  gap: .5em;
  text-align: center;
}

.form-checkbox {
  margin: auto;
}
input[type=checkbox] {
  margin: 10px;
}
.form-button {
  margin-top: 10px;
  width: 100%;
  display: grid;
}
button {
  width: 40%;
  height: 2.5rem;
  margin: auto;
  padding: 14px 20px;
  background-color: #01204E;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #028391;
}


label {
  margin: 2px;
}

.call-to-action{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 70%;
  height: auto;
  border: 1px solid black;
  align-items: center;
  margin: auto;
  background-color: var(--secondary-color);
  
}
.call-to-action p {
  margin: 20px;
  text-align: center;
}

.book-now-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  height: 50px;
  width: 200px;
  background-color: var(--accent2-color);
  border-radius: 10px;
  color: white;
  font-size: 40px;
  text-decoration: none;
  transition: all .4s ease-in-out;
  box-shadow: 5px 8px #888888;
}

.book-now-btn:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.trip_section h2 {
  text-align: center;
  border-top: 1px solid #888888;
}
.trips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.trip{
width: 30%;
display: flex;
flex-direction: column;
align-items: center;
margin: 10px;
}

.trip h3{
  text-align: center;
}
.trip img{
  width: 100%;
}
.trip a{
  border: 1px solid black;
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--accent2-color);
  color: antiquewhite
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.details {
  width: 70%;
  margin: auto;
}

.details h2 {
  text-align: center;
}

.index_head {
  background-image: url("../images/RaftingHeadIMG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index_head h1 {
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 4em;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.newsletter-form button {
  background-color: #BB3E03;
  box-shadow: 3px 3px #888888;
}

.index-call-to-action {
background-image: url("../images/rafting58_600.jpg"),  url("../images/rafting33_600.jpg");
background-position: left bottom, right top;
background-repeat: no-repeat;
background-size: cover;
width: 80%;
height: 200px;
margin: auto;
display: flex;
flex-direction: column;
}

.index-call-to-action h2 {
  text-align: center;
  background-color: #E9D8A6;
}

.index-call-to-action a {
  margin: auto;
  background-color: #BB3E03;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px #888888;
  text-decoration: none;
  color: #f2ebdf;
}

.index_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 2fr;
}
.index_grid h2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.index_grid img {
  width: 100%;
  height: auto;
}

.index_grid p {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}
.index_grid .grid-img-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3
}

.index_grid .grid-img-2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3
}